{% extends "base.html" %}
{% block content %}
    <form action='/addTodo' method="post">
        <input type="text" name="addTask"></input>
        <input type="submit" value="add"></input>
    </form>

<!--    <form action='/deleteTodo' method="post">
        <input type="text" name="deleteTask"></input>
        <input type="submit" value="delete"></input>
    </form>
-->


    {% if todos %}
    <ul>
        {% for todo in todos %}
        <li>{{ todo.task }} <a href="/deleteTodo?indexOfTodo={{ loop.index0 }}">Delete</a>
            <div>{{ todo.comment }}</div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <div>No todos</div>
    {% endif %}

{% endblock %}
